services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

  lab-web:
    image: nginx:alpine
    container_name: lab-web
    restart: unless-stopped
    volumes:
      - ./www:/usr/share/nginx/html:ro

volumes:
  caddy_data:
  caddy_config:
